* { box-sizing: border-box; margin: 0; padding: 0; }
body { font-family: sans-serif; padding: 1rem; }

/* TODO: Refactor this CSS to be Mobile-First! */
/* Currently, it is Desktop-First and uses max-width to break down to mobile. */

.nav {
    display: flex;
    justify-content: space-around;
}

.grid {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.card {
    flex: 1;
    background: #eee;
    padding: 2rem;
    text-align: center;
}

@media (max-width: 600px) {
    .nav {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    
    .grid {
        flex-direction: column;
    }
}
